<!-- Header -->
<header class="bg-light p-5 text-center">
  <h1>Bienvenido al Gimnasio de la Universidad César Vallejo</h1>
  <p class="lead">¡Descubre nuestras disciplinas deportivas!</p>
  <a href="#" class="btn btn-primary btn-lg">Postúlate al Gimnasio</a>
</header>

<!-- Disciplinas -->
<section id="disciplinas" class="p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/baloncesto.jpg" class="card-img-top" alt="Baloncesto">
          <div class="card-body">
            <h5 class="card-title">Baloncesto</h5>
            <p class="card-text">¡Anímate a practicar el emocionante baloncesto!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/futbol.jpg" class="card-img-top" alt="futbol">
          <div class="card-body">
            <h5 class="card-title">Futbol</h5>
            <p class="card-text">¡Anímate a practicar el emocionante futbol!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/voley.jpg" class="card-img-top" alt="voley">
          <div class="card-body">
            <h5 class="card-title">Voleyball</h5>
            <p class="card-text">¡Anímate a practicar el emocionante Voleyball!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/beisbol.jpg" class="card-img-top" alt="beisbol">
          <div class="card-body">
            <h5 class="card-title">Béisbol</h5>
            <p class="card-text">¡Anímate a practicar el emocionante béisbol!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/balonmano.jpg" class="card-img-top" alt="Balonmano">
          <div class="card-body">
            <h5 class="card-title">Balonmano</h5>
            <p class="card-text">¡Anímate a practicar el emocionante balonmano!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/natacion.jpg" class="card-img-top" alt="natacion">
          <div class="card-body">
            <h5 class="card-title">Natacion</h5>
            <p class="card-text">¡Anímate a practicar la emocionante natación!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/tenis.jpg" class="card-img-top" alt="tenis">
          <div class="card-body">
            <h5 class="card-title">Tenis de mesa</h5>
            <p class="card-text">¡Anímate a practicar el emocionante tenis de mesa!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="/img/taekwondo.jpg" class="card-img-top" alt="taekwondo">
          <div class="card-body">
            <h5 class="card-title">Taekwondo</h5>
            <p class="card-text">¡Sé un campeón del Taekwondo!</p>
          </div>
        </div>
      </div>

      <!-- Repite este bloque para cada disciplina -->
      <!-- Puedes utilizar imágenes de baloncesto.jpg, soccer.jpg, volleyball.jpg, baseball.jpg, handball.jpg, swimming.jpg, table-tennis.jpg, taekwondo.jpg respectivamente -->
    </div>
  </div>
</section>







{{!--
<script src="/js/home.js" defer></script> --}}