<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <link rel="stylesheet" href="/css/nav.css" />
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                <li id="login-nav">
                    <a class="nav-link" href="/login" class="button" id="login">
                        INICIAR SESION
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link" role="button">
                        En construcción
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">En contstruccion</a>
                        <a class="dropdown-item" href="#">En contstruccion</a>
                        <a class="dropdown-item" href="#">En contstruccion</a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Linkear Javascript -->
        {{!
        <script src="/js/nav.js" defer></script> }}
</nav>